<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523393539150-7rd2pg5uvslnj702ag8hb2jsuqg6bore.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523393539150-7rd2pg5uvslnj702ag8hb2jsuqg6bore</string>
	<key>API_KEY</key>
	<string>AIzaSyCMjuBAnkeMTHZ0J83ohBuBXtHSHpWi3tg</string>
	<key>GCM_SENDER_ID</key>
	<string>523393539150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaqibtariq.myBudgetApp</string>
	<key>PROJECT_ID</key>
	<string>budget-app-4fef7</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-app-4fef7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523393539150:ios:5a0c8636f8a16ebfa7b71f</string>
</dict>
</plist>